@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PickUpID" class="control-label"></label>
                <select asp-for="PickUpID" class="form-control" asp-items="ViewBag.PickUpID"></select>
                <span asp-validation-for="PickUpID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialPickUp" class="control-label"></label>
                <input asp-for="InitialPickUp" class="form-control" />
                <span asp-validation-for="InitialPickUp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionPickup" class="control-label"></label>
                <input asp-for="AdditionPickup" class="form-control" />
                <span asp-validation-for="AdditionPickup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscontinuePickUp" class="control-label"></label>
                <input asp-for="DiscontinuePickUp" class="form-control" />
                <span asp-validation-for="DiscontinuePickUp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PausePickUp" class="control-label"></label>
                <input asp-for="PausePickUp" class="form-control" />
                <span asp-validation-for="PausePickUp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill" class="control-label"></label>
                <input asp-for="Bill" class="form-control" />
                <span asp-validation-for="Bill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressId" class="control-label"></label>
                <select asp-for="AddressId" class="form-control" asp-items="ViewBag.AddressId"></select>
                <span asp-validation-for="AddressId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApartmantOrSuiteNumber" class="control-label"></label>
                <input asp-for="ApartmantOrSuiteNumber" class="form-control" />
                <span asp-validation-for="ApartmantOrSuiteNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityName" class="control-label"></label>
                <input asp-for="CityName" class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateName" class="control-label"></label>
                <input asp-for="StateName" class="form-control" />
                <span asp-validation-for="StateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cordinates" class="control-label"></label>
                <input asp-for="Cordinates" class="form-control" />
                <span asp-validation-for="Cordinates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityUserId" class="control-label"></label>
                <select asp-for="IdentityUserId" class="form-control" asp-items="ViewBag.IdentityUserId"></select>
                <span asp-validation-for="IdentityUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
