@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TrashStash</h1>
    <p>Welcome to the citys best trash collection agceny, we have prodly served this community for generations <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
