@{
    ViewData["Title"] = "Cost of Service";
}
<h1>@ViewData["Title"]</h1>

<p>The standard cost of service is 50$ per-week, during your first (3) years of service and 40$ per week after. This adjust fee covers the cost of cans for you. Additional pick-up's will cost 65$ per pick-up. customer's that participate in the recycling program can receive between 1$ & 35$ off their bill. </p>
