@model TrashCollector.Models.PickUp

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>PickUp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="customersId" class="control-label"></label>
                <select asp-for="customersId" class ="form-control" asp-items="ViewBag.customersId"></select>
            </div>
            <div class="form-group">
                <label asp-for="employeesId" class="control-label"></label>
                <select asp-for="employeesId" class ="form-control" asp-items="ViewBag.employeesId"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="customerTrashWasNotCollected" /> @Html.DisplayNameFor(model => model.customerTrashWasNotCollected)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="customerRecyclingWasNotCollected" /> @Html.DisplayNameFor(model => model.customerRecyclingWasNotCollected)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
